/* @tailwind base;
@tailwind components;
@tailwind utilities; */


@import "tailwindcss";


:root {
    --primary-color: white;
    --secondary-color: gray;
    --background-color: rgb(27, 31, 67);
    --background-blue: rgba(0, 157, 255, 0.929);
    --background-whole: rgb(7, 7, 43);
}

* {
    scroll-behavior: smooth;
}
