/* @tailwind base;
@tailwind components;
@tailwind utilities; */


@import "tailwindcss";


:root {
    --primary-color: white;
    --secondary-color: gray;
    --background-color: black;
    --background-blue: rgba(0, 157, 255, 0.929);
    --background-blue: rgb(7, 7, 43);
}
